@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #f5bc42;
  --color-secondary: #42a5f5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #f5bc42;
    --color-secondary: #42a5f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-color {
  background-color: var(--color-primary) !important;
}
.bg-secondary-color {
  background-color: var(--color-secondary) !important;
}
